<div class="contents row">
  <% @tudents.each do |student| %>
    <div class="content_post" style="background-image: url(<%= student.image %>);">
      <p><%= student.text %></p>
      <span class="name">
        <%= student.name %>
      </span>
    </div>
  <% end %>
</div>